h1 {
    color: red;
    text-align: center;
    margin-top: 170px;
}

#container {
    width:60vw;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    background-color: lightgray;
    padding: 20px;
}
#buttonContainer {
    display:grid;
    grid-template-columns: auto auto auto;
    gap:2px;
    margin-bottom: 10px;
}

.button {
    padding: 5px;
    border: 2px solid black;
    background-color: orange;
    border-radius: 10px;
    min-height: 50px; 
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}
.button:hover {
    opacity: 1;
    transform: scale(1.05);
}
#output {
    min-height: 50px;
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}